---
---

@import "{{ site.theme }}";
* {
	box-sizing: content-box;
}
.page-header {
	background-color: #6872A5;
	background-image: url(https://raw.githubusercontent.com/JiashengWu/vanilla_deep/master/fig/Aspect-Based_Sentiment_Analysis_for_10_Common_Disease_Categories.png);
	background-size: cover;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	color: #6872A5;
}
.main-content table th, .main-content table td {
  padding: 0.5rem 1rem;
  border: 0px;
}
img {
	max-height: 500px;
	display: block;
}
em {
	font-size: small;
}